<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-0">    <!-- sticky-top -->
    <div class="row container-fluid mx-0 px-1">
        <div class="col me-auto">
            <input class=" w-75" type="text" placeholder="&#128269 search 8,000+ tutorials">
        </div>
        <div class="col">
            <div class="text-center" height="10">
                <a class="navbar-brand" href="/#"><img  height="20" src="https://d33wubrfki0l68.cloudfront.net/52edd2dfddbec5db22a65dba39951af8fa9bdff6/006f7/img/fcc_primary_large.svg"></a>
            </div>
            </div>
        <div class="col">
            <div class="navbar-nav justify-content-end">
                <a class="nav-link py-1 my-1 btn btn-outline-light text-light me-2 rounded-0" href="/#">Menu</a>
                <% if(!currentUser){ %> 
                    <a class="nav-link py-1 my-1 btn-outline-danger btn btn-warning text-dark rounded-0" href="/signIn">Sign In</a>
                <% }else{ %> 
                    <a class="nav-link py-1 my-1 btn-outline-dark btn btn-secondary text-light rounded-0" href="/signOut"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAABmJLR0QA/wD/AP+gvaeTAAABv0lEQVQ4jbXUS4iOURgH8J9BNFIUX7lLiinlMskMJWVYsJDJRspKUZZMLCULmVmMxaRsiHLJLCRZuCRJTZGvzOSSXBaKomSDjCaL83zTO5+3b46Ff731nHP+53/+z/M+5/AfMCGDMwOXMSmD+xDHc0RhPprxuwGnghPoyDkdurAZv9CJ9yWcn7WgKUNwIdqxAqdxoLC2IL4xyBH9JtV1FdbiY2FtJm5hSXFDWfpTsQ6TY/wDh3AUL3AGO7CnYOwuNjYSvYrP+BLjRWhFn5Q+3MYgpuAizmGkJlCffmc464/UvmJ3pL0epwru38aBF9BTYm4UVbTgOa7gcMy3Y0MI9GGX1GZFzJXKMAZNeIV72I9nmBVrN/AmhLtwEq8xrUy0WNMRbMHimB+U6ro8SrEV1/Ey+N8x3CjtetzH3ojPYmfEzViNNREXMeq0rE83YTb2heMWfCi4q+JpxA3RJtXtDt6Fmyq6Ix7AxHE0/nJ6BNekBt+GZdKPWSm1zSMcHM9ZPTpi45P4bsbJFQxJV3QI83Kc5qANj6Xe7M8RzXn6BnAJ27E0Ng9jeh2vUgty39NeHJOu7Secx5wS3oNMvX/HH8itWUkUsk+fAAAAAElFTkSuQmCC"></a>
                <% } %> 
            </div>
        </div>
    </div>
</nav>