<% layout('/layouts/boilerplate')  %> 

<h1>Sign In Page</h1>

<form action="" method="POST">
    <input type="email" name="username" id="" placeholder="Email ID">
    <input type="password" name="password" id="" placeholder="Password">
    <button>Sign In</button>
</form>

<h3>New?</h3>
<a href="/signUp">Sign Up</a>